/* with flex */

/* body {
  display: flex;
  flex-wrap: wrap;
 
}
header {
  background-color: aqua;
  width: 100%;
  order: 1;
 
}

nav {
  background-color: olivedrab;
  flex-basis: 200px;
  flex-grow: 1;
  order: 2;

}

main {
  background-color: gray;
  flex-basis: 500px;
  flex-grow: 1;
  order: 3;
 
}

aside {
  background-color: green;
  flex-basis: 200px;
  flex-grow: 1;
  order: 4;
}

footer {
  background-color: plum;
  width: 100%;
  order: 5;
 
}

footer ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 15px;
} */

/* with grid */

/* body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
header {
  background-color: aqua;
  grid-column: 1/-1;
}

nav {
  background-color: olivedrab;
}

main {
  background-color: gray;
  grid-column: 2/3;
  grid-row: 2/3;
}

aside {
  background-color: green;
}

footer {
  background-color: plum;
  grid-column: 1/-1;
}

footer ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 15px;
} */
